@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  border-radius: 10px;
}

.form-control {
  border-radius: 20px;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-gradient {
  background: linear-gradient(
    270deg,
    #00ff00,
    #32cd32,
    #7fff00
  ); /* Bright green colors */
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

.heading-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  text-align: center;
}

.heading-text {
  font-size: 32px;
  color: #333;
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  padding: 10px;
}

.scroll-item {
  flex: 0 0 auto; /* Ensure items don't wrap */
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Automatically adjust the number of columns */
  gap: 10px; /* Spacing between items */
}

.item {
  background-color: lightgray; /* Just for visibility */
  padding: 10px; /* Optional padding for the items */
}
/* For larger screens, make sure the carousel items take full width */
.carousel-item img {
  width: 100%; /* Ensure the image takes up full width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the container properly */
}

/* Optional: Control the height of the image for desktop */
@media (min-width: 992px) {
  .carousel-item img {
    max-height: 600px; /* Prevent the image from becoming too tall */
  }
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .carousel-item img {
    max-height: 400px; /* Reduce height for smaller screens */
    object-fit: contain; /* Ensure the image fits inside the container without cutting off */
  }
}
